@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}
body {
    width: 100%;
    position: relative;
    background-color: rgb(235, 235, 235);
}
.bg {
    position: absolute;
    background: url('../img/background.jpg') center center/cover no-repeat;
    width: 100%;
    height: 490px;
    z-index: -111;
}
.bg::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(0,0,0,.5);
}
.container {
    width: 1240px;
    margin: 0 auto;
}

main .both {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}
.left {
    width: 29%;
    height: 100%;
}
.right {
    width: 67%;
    height: 100%;
}
.info {
    display: flex;
    align-items: start;

}
.block {
    margin-top: 20px;
    background-color: white;
    padding: 40px 30px;
}
.block-grey {
    background-color: rgb(0,0,0,.5);
}
.title {
    font-size: 42px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}
.title__sec {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 20px;
}
.photo {
    width: 100%;
    height: 500px;
    background: url('../img/item2.jpg') center center/cover no-repeat;
}

.info {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 100px;
}
.info__descr {
    width: 43%;
    padding: 30px;
    padding-left: 70px;
    color: white;
    background-color: rgb(0,0,0,.5);
}
.list {
    list-style: none;
}
.list li {
    position: relative;
    margin-bottom: 16px;
}
.list li::before {
    content: " ";
    display: block;
    position: absolute;
    left: -33px;
    width: 20px;
    height: 20px;
    background: url("../img/icon.png") center center/cover no-repeat;
}
.list li:last-child {
    margin-bottom: 0;
}
.price {
    width: 52%;
    display: flex;
    flex-direction: column;
    
}
.price__main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: start;
}
.price__main span:first-child {
    font-size: 20px;
    color: orange;
    text-decoration: line-through;
}
.price__main span:last-child {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: unset;
}
.price-block {
    display: flex;
    align-items: center;
}
.price__sale {
    padding: 20px;
    width: 115px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px #0094e8 solid;
    color: #0094e8;
    font-size: 36px;
}

.left__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
th {
    padding-right: 10px;
}
a {
    text-decoration: none;
}
.btn {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-main {
    height: 80px;
    background-color: #0094e8;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
.btn-main:hover {
    background-color: orange;
}
.btn-sec {
    border: 1px solid rgb(230, 230, 230);
    margin-right: 20px;
    height: 40px;
}
.btn-sec:hover {
    background-color: white;
    color: black;
}
.btn-sec:last-child {
    margin-right: 0;
}
form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form .input {
    width: 70%;
    height: 40px;
    padding-left: 10px;
}
form .btn {
    width: 28%;
    height: 40px;
    border: none;
    background: #0094e8;
    cursor: pointer;
}
form .btn:hover {
    background: #017bc2;
}
footer {
    margin-top: 60px;
    height: 300px;
    background: url(../img/background.jpg)
}

.nav{
    background: url(../img/background.jpg);
   }
   .nav_header{
     text-align: center;
     padding: 4px 16px;
     padding: 0.25rem 1rem;
     
   
   }
   .logo{
     color:white;
     font-size: 50px;
     font-weight: bold;
     text-decoration: none;
     font-family: 'Chakra Petch', sans-serif;
   }
   /* end of nav */
   
